* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

table, th, td {
  border-collapse: collapse;
}
th,td{
  padding: 15px;
}
tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.224);
}
.App{
  padding: 25px;
  display: flex;
    justify-content: center;
    flex-direction: column;

}
.c-stocks{
  padding: 0 30px;
}
.c-stocks table{
  width: 100%;
}
.c-pagination{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
}
.c-stock-detail__interval{
  width: 100px;
}